.commingsoon .logoone{
    height: 205px;
}
.commingsoon .txtcolor{
    color: red;
}
.commingsoon p{
    margin: 0;
}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
.commingsoon{
	font-family: 'Open Sans', sans-serif;
	background:url(../images/ba1.jpg);
	background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
    margin: 0;
}
/*-- banner --*/
.commingsoon .banner-info-w3l img {
    margin-top: 1em;
}
.commingsoon .banner-info-w3l {
    background: url(../images/dott.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: 4px;
    -webkit-background-size: 4px;
    -moz-background-size: 4px;
    -o-background-size: 4px;
    -ms-background-size: 4px;
	text-align:center;
    min-height: 100%;
    position: absolute;
    width: 100%;
}
.commingsoon .copyright p{
	font-size:1em;
	color:#fff;
	line-height:1.8em;
    /*padding: 96px 0 0;*/
}
.commingsoon .copyright p a{
	color:#80C340;
}
.commingsoon .copyright p a:hover{
	text-decoration:underline;
}
/*-- banner-info --*/
.commingsoon .banner-info-w3l h1{
	font-size: 4em;
    color: #fff;
	font-family: 'Candal', sans-serif;
}
.commingsoon .banner-info-w3l h1 span {
    display: block;
    font-size: .25em;
    letter-spacing: 10px;
    line-height: 1.5;
}
.commingsoon .banner-info-w3l h2{
	font-size: 1em;
    color: #fff;
    line-height: 1.8em;
    margin:3em auto 5em;
    width: 50%;
}
.commingsoon .banner-info-w3l .contentblk{
    margin: 0 auto;
    width: 50%;
}
/*--responsiv--*/
@media(min-width: 768px) and (max-width: 1024px){
    /*.commingsoon .banner-info-w3l .contentblk{
        padding-top: 50px;
    }
    .commingsoon .banner-info-w3l img {
        padding-top: 125px;
    }*/
    .commingsoon .banner-info-w3l .contentblk {
        margin: 0 auto;
        padding: 8em 0 0;
        width: 100%;
    }
}
@media(max-width: 767px){
    /*.commingsoon .banner-info-w3l h1{
        font-family: "Trebuchet MS",sans-serif;
        font-size: 2em;
    }
    .commingsoon .banner-info-w3l img {
        height: 125px;
        padding-top: 5em;
    }
    .commingsoon .banner-info-w3l h2{
        font-size: 1em;
        line-height: 1.8em;
        padding-top: 20px;
        margin: 0;
        width: 100%;
    }*/
}
