.inaguration{

}


.inaguration p {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  top: 18%;
  margin: 0 0 0 -20em;
  font: 400 12px "Comic Sans MS";  
  color: rgba(255,255,255,.25); 
  text-align: center; margin: 0;
}
.inaguration p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.price{
  margin-top: 10px;
}

.price .circle{
  width:120px;
  border-radius:50%;
  text-align:center;
  font-size: 18px;
  padding:40px 0;
  line-height:0;
  position:relative;
  font-family: Helvetica, Arial Black, sans;
  line-height: 20px;
  margin: 0 auto;
}

.price .firstcircle{
  background: #ffff00;
  color: #000;
}
.price .secondcircle{
  background: #38a9e4;
  color: #ffffff;
}
.price .thirdcircle{
  background: #ff3366;
  color: #ffffff;
}

@media(max-width: 1052px){
  .inaguration p {
   font: 400 10px "Comic Sans MS";
  }
  .thirdprice{
    padding-bottom: 20px;
  }
}

@media(min-width: 1053px){
  .price{
    margin-top: 20px;
  }
}